<p>show-api works!</p><button (click)="back()">Back</button>
<h1>Registered Employees</h1>

<table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Office</th>
            <th scope="col">Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of lists">
            <td>{{list.name}}</td>
            <td>{{list.position}}</td>
            <td>{{list.office}}</td>
            <td>{{list.salary}}</td>
        </tr>
    </tbody>
</table>
<h1>User Table Api List</h1>
<table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">ID</th>
            <th scope="col">Completed</th>
            <th scope="col">Title</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of userData">
            <td>{{list.userId}}</td>
            <td>{{list.id}}</td>
            <td>
                <input type="checkbox" [(ngModel)]="list.completed" [disabled]=true/></td>
            <td>{{list.title}}</td>
        </tr>
    </tbody>
</table>
